.completion-log-page {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: flex-start;
  height: 100vh;
  padding: 2rem;
  /* width: 100%; */
}

.completion-log {
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.completion-log-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  background-color: #f9f9f9;
  /* width: 100%; */
}

.task-title-header {
  font-size: 1rem;
}

.task-date-header {
  font-size: 0.9rem;
  color: #333;
}

.completion-log h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.completion-log ul {
  justify-content: space-between;
  list-style: none;
  padding: 0.75rem 1rem;
}

.completion-log li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #eee;
}

.completion-log li:last-child {
  border-bottom: none;
}

.task-title {
  font-weight: bold;
  font-size: 1rem;
}

.task-date {
  color: #666;
  font-size: 0.9rem;
}

.completion-log-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 0 0;
}

.completion-log-table th,
.completion-log-table td {
  text-align: left;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
}

.completion-log-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.completion-log-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.completion-log-table tr:hover {
  background-color: #f1f1f1;
}
