.box-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-grid {
  display: flex;
  width: 90vw;
  height: 70vh; /* Adjusted height to leave space for the log */
}

.category-column {
  flex: 1;
  width: 90%;
}

.category-column h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  cursor: pointer;
}

.box.non-clickable {
  cursor: not-allowed;
}

.box.green {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.box.amber {
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.box.red {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.box h3 {
  margin: 0 0 0.5rem;
}

.box p {
  margin: 0;
  color: #666;
}

.box-date {
  font-size: 0.9rem;
  color: #999;
}
